.linkHold {
    border-radius: 8px;
    background: #fff;
    width: 100%;
    margin-bottom: 2em;
    margin-top: 2em;
}

.profileHold {
    width: 40px;
    height: 40px;
    overflow: none;
    background: var(--primary);
    margin-right: 1em;
}

.authorFlex {
    display: flex;
    align-items: center;
}

.longformtext {
    max-width: 600px;
}

.dateFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 0em;
}

.blue {
    color: blue;
    margin-right: 0.5em;
    text-decoration: none;
}

.sansSerif {
    font-family: publicSans, serif;
    font-size: 0.8em;
}

.line {
    width: 100%;
    border-bottom: 1px solid #E7E7E7;
    margin-top: 1em;
    margin-bottom: 1em;
}

.versionFlex {
    display: flex;
}

.versionFlex>* {
    margin-left: 1em;
}

.tagHold {
    border: 1px solid var(--primary);
    padding: 0.15em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 0.8em;
    text-decoration: none;
    margin-right: 1em;
    border-radius: 0.3em;
}