.container {
    max-width: 36rem;
    margin: 0;
}

.lightButton {
    background: #EDF5FF;
    color: #0258FF;
    border: none;
    width: 100%;
    border-radius: 0.2rem;
    font-size: 1em;
    padding: 0.2rem;
  }